*{
    margin:0px;
    padding: 0px;
    user-select: none;

}
.content{
    background-color: rgba(0,0,0,0.4);
}
header{
    color: white;
    font-size: 24px;
}
.bg-image{
    background:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url("https://tse3.mm.bing.net/th?id=OIP.dhXKwEXB4H7b_yZdIZaSBgHaE8&pid=Api&P=0&h=220");
    background-position: center;
    background-size: cover;
    height: 100vh;
}
.bg-img :after{
    position: absolute;
    content:'';
    top:0;
    left:0;
    height: 100%;
    width:100%;
    background-color: rgba(0,0,0,0.7);
}
.content{
    position: absolute;
    top:50%;
    left:50%;
    z-index: 999;
    text-align:center;
    padding: 60px 32px;
    width:370px;
    transform: translate(-50%,-50%);

}

content header{
    color: white;
    font-size: 33px;
    font-weight: 600;
    margin: 0 0 35px 0;
    font-family:'Montserrat',sans-serif;

}
.content{
    border-radius: 10px;
}
.field{
    position: relative;
    height: 45px;
   margin-top: 15px;
    width: 100%;
    display: flex;
    background-color: rgba(255,255,255,0.94);

}
.field span{
    color:#222;
    width:40px;
    line-height: 45px;
}
.pass a{
    font-weight:  bold;
}
.field input{
    height:100%;
    width:100%;
    background-color: transparent;
    border:none;
    outline:none;
    color:#222;
    font-size: 16px;
    font-family: 'poppins',sans-serif;

}
.space{
    margin-top: 16px;
}
.show{
    position: absolute;
    right:13px;
    font-size: 13px;
    font-weight: 700;
    color:#222;
    display: none;
    cursor: pointer;

}
.passkey:valid ~ .show{
    display: block;
}
.pass{
    text-align: left;
    margin: 10px 0;
}
.pass a{
    color:white;
    text-decoration: none;
    font-size: 18px;

}
.pass:hover a{
    text-decoration: underline;
}
.login{
    color:white;
    margin: 20px 0;
}
.links{
    text-align: center;
    display: flex;
    cursor: pointer;
    color: white;
    margin: 5px;

}



.field input[type="submit"]{
    background-color: #3498db;
    border:1px solid #2691d9;
    color:white;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 600;
    cursor: pointer;

}
.facebook{
    margin-right:10px;
}
.login{
    color: white;
    margin:20px 0;
    font-family: 'poppins','sans-serif';
}
.links .fa{
    margin: 10px;
}
.links{
    margin: 10px;
    display: flex;
    cursor: pointer;
    color: white;
    justify-content: center;
    align-items: center;

}

